@model WeCommerce.Models.VentaCabecera

@{ ViewData["Title"] = "Details";
                Layout = "_LayoutOtros"; }

<div class="titles">
    <h3 class="titles-text">Detalles de una Venta</h3>
</div>

<div>
    @foreach (var itemModel in Model.Details)
    {
<hr />
                    <div class="row">
                        <span class="col-2" style="font-weight:800">
                        
                            Fecha de Compra: 
                        </span>
                         @Html.DisplayFor(model => model.Date)
                    </div>
                    
                     <div class="row">
                        <span class="col-2" style="font-weight:800">
                        
                            Nombre: 
                        </span>
                         @Html.DisplayFor(item => itemModel.getUsuario().Nombre)
                    </div>
                     <div class="row">
                        <span class="col-2" style="font-weight:800">
                        
                            Apellido: 
                        </span>
                         @Html.DisplayFor(item => itemModel.getUsuario().Apellido)
                    </div>
                     <div class="row">
                        <span class="col-3" style="font-weight:800">
                        
                            Localidad: 
                        </span>
                         @Html.DisplayFor(item => itemModel.getUsuario().Localidad)
                    </div>
                     <div class="row">
                        <span class="col-2" style="font-weight:800">
                        
                            Calle: 
                        </span>
                         @Html.DisplayFor(item => itemModel.getUsuario().Calle)
                    </div>
                     <div class="row">
                        <span class="col-3" style="font-weight:800">
                        
                            Numero de Telefono: 
                        </span>
                         @Html.DisplayFor(item => itemModel.getUsuario().PhoneNumber)
                    </div>
                break;
                            }
</div>
<table class="table-responsive table table-bordered border-secondary">
    <thead class="table-dark">
        <tr>
            <td>
                Producto
            </td>
            <td>
                Cantidad
            </td>
            <td>
                Precio
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemModel2 in Model.Details)
        {
            <tr>
                <td>
                     @Html.DisplayFor(item => itemModel2.getProductos().Title)
                </td>
                <td>
                     @Html.DisplayFor(item => itemModel2.Quntity)
                </td>
                <td>
                    $@Html.DisplayFor(item => itemModel2.Price)
                </td>
            </tr>
        }
    <tr>

        
        <td colspan="2" class="table-active">Total</td>
        <td class="table-secondary">
            $@Html.DisplayFor(model => model.totalventa)
        </td>
    </tr>
    </tbody>
 </table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <button type="button" class="btn btn-warning mt-4 text-white" onclick="GoPdf(@Model.Id)">PDF</button>
 </div>



  <script>
      function GoPdf(id) {
          var idpdf = id;
          window.location = "/VentaCabeceras/Indexpdf?id=" + idpdf;
      }
  </script>
