@model WeCommerce.Models.VentaCabecera
@{
    Layout = null;

}
<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
<link href="~/css/titulos.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div style="margin-right:0;margin-left: 0;text-align:center;margin-top:10px;background-color:#212529;margin-bottom:10px">
    <h3 class="titles-text" style="padding: 5px; font-family: Bungee Shade; color: darkorange">Detalles de una Venta</h3>
</div>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <a>Fecha de Compra: </a> @Html.DisplayFor(model => model.Date)
        </dt>
        <dt class="col-sm-2">
            <a>Usuario: </a> @Html.DisplayFor(model => model.IdUser)
        </dt>

    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <td id="ancho-columna">

                <a>Productos</a>
            </td>
            <td>

            </td>
            <td>
                <a>Cantidad</a>
            </td>
            <td>
                <a>Precio</a>
            </td>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var itemModel in Model.Details)
        {
            <tr>

                <td>
                    @Html.DisplayFor(item => itemModel.getProductos().Title)
                </td>
                <td style="width:100px">
                    <div style="font-size:2vw">

                        <p class="mb-3"> NVIDIA DLSS es la revolucionaria renderización con IA que potencia las frecuencias de cuadros con una calidad de imagen sin sacrificios gracias a los Núcleos Tensor de procesamiento de IA exclusivos en GPUs GeForce RTX. Esto te brinda la capacidad de rendimiento suficiente para llevar las opciones de configuración y los valores de resolución al máximo, lo que te permitirá disfrutar de una experiencia visual increíble. La revolución de la IA llegó a los juegos.h uhuiahsuidhuashiudhiausidhiashdhsaufhiuashif faihfiahsf aishfiashfiuasifhiashfihasifhiasfhas asiuhfiashifa NVIDIA DLSS es la revolucionaria renderización con IA que potencia las frecuencias de cuadros con una calidad de imagen sin sacrificios gracias a los Núcleos Tensor de procesamiento de IA exclusivos en GPUs GeForce RTX. Esto te brinda la capacidad de rendimiento suficiente para llevar las opciones de configuración y los valores de resolución al máximo, lo que te permitirá disfrutar de una experiencia visual increíble. La revolución de la IA llegó a los juegos.h uhuiahsuidhuashiudhiausidhiashdhsaufhiuashif faihfiahsf aishfiashfiuasifhiashfihasifhiasfhas asiuhfiashifa </p>

                    </div>

                </td>
                <td>
                    @Html.DisplayFor(item => itemModel.Quntity)
                </td>
                <td>
                    @Html.DisplayFor(item => itemModel.Price)
                </td>

            </tr>
        }
        <tr>

            <td>
            </td>

            <td class="table-secondary">
              Total
            </td>
            <td class="table-secondary">
                $@Html.DisplayFor(model => model.totalventa)
            </td>
        </tr>

    </tbody>


</table>
